@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	ul {
		@apply list-disc list-outside ml-8;
	}
	ol {
		@apply list-decimal list-outside ml-8;
	}
}
